.spinner1{
    background-color: orangered;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 25px solid white;
    border-top: 20px solid indigo;
    animation: ani 2s linear infinite;
}

.spinner2{
    background-color: magenta;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 25px solid white;
    border-top: 20px solid indigo;
    animation: ani 2s linear infinite;
}


@keyframes ani {
    to{
        transform: rotate(360deg);
    }
}